<!--ngIf condicional if para mostrar elemento HTML ou componente-->
<div class="card" *ngIf="mostrarProduto; else conteudoAlternativo">
    <img [src]="prod.imagem" alt="Pc Gamer" class="card-image-top">
    <div class="card-body">
        <h5 class="card-title">{{ prod.nome }}</h5>
        <h6 class="card-subtitle text-muted">R${{prod.preco}}</h6>

        <!-- <= a 10 -> vermelho
            > 10 && <= 30 -> amarelo
            > 30 && < 100 -> azul
            > 100 -> verde
        -->
        <span class="badge mb-1" 
        [ngClass]="{'bg-danger': prod.estoque <= 10, 
        'bg-warning': prod.estoque > 10 && prod.estoque <= 30, 
        'bg-primary': prod.estoque > 30 && prod.estoque <= 100, 
        'bg-success': prod.estoque > 100}"
        >{{prod.estoque}} unidades restantes</span>
        <p class="card-text text-truncate">{{prod.descricao}}</p>
        <button class="btn btn-sm btn-danger" (click)="esconderProduto()">Esconder Produto</button>
        <button class="btn btn-sm" (click)="emitirEventoDeletar()">&times;</button>
    </div>
</div>
<!-- 
    ng-template serve como um componente auxiliar que nos permite criar a estrutura 'else' de algum *ngIf
    Por padrão, qualquer coisa que voce coloque dentro do componente aparecerá na sua tela. Para o conteudo aparecer, voce precisará criar um 'gatilho'
 -->
<ng-template #conteudoAlternativo>
    <div class="card">
        <div class="card-body">
            <p class="card-text">O produto {{prod.nome}} não aparecerá para todos os usuarios</p>
            <button class="btn btn-danger" (click)="aparecerProduto()">Mostrar Novamente</button>
        </div>
    </div>
</ng-template>