<div class="" id="login-container">
    <div class="login-form">
        <h1>Login</h1>
        <button (click)="signInGoogle()">
            <img src="assets\google.svg" alt="">
        </button>
        <form [formGroup]="formLogin" >
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button type="submit" (click)="signInEmailAndPassword()">Entrar</button>
        </form>
        <span>Ainda não é cadastrado?<a routerLink="/create">Cadastre-se aqui</a></span>
    </div>
</div>
