#login-container {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: clamp(300px, 90%, 800px);
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px 50px;
    box-shadow: 0 0 30px #a8a4a4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form button {
    width: 100%;
    height: 75px;
    background-color: #6b98f1;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
}

.login-form form {
    width: 100%;
    margin-top: 20px;
}

.login-form form input {
    width: 100%;
    height: 60px;
    border: 1px solid #6b98f1;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 20px;
}

.login-form form button {
    margin-top: 30px;
}
.login-form form button:hover {
    pointer-events: painted;
}

#login-container span {
    margin-top: 25px;
    color: #6a6a6a;
}

