<main class="container">
    <div>
        <a routerLink="../" mat-fab color="warn" class="icone">
            <mat-icon>home</mat-icon>
          </a>
    </div>
    <mat-card>
        <form class="formulario">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Preço</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Foto</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
    <button type="submit" mat-stroked-button color="primary">Salvar</button>
    </mat-card>
</main>