.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.table-container {
    width: 60vw;
    height: 70vh;
    margin-top: 30px;
    overflow: auto;
    background-color: gainsboro;
}

.full-width {
   width: 500px;
}

.double-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.double-width div input {
    width: 97%;
}
.btn-submit {
    margin-top: 30px;
    background-color: #6b98f1;
    color: #ffffff;
}

.upload-photo {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(160, 160, 160, 0.767);
}

.upload-photo::-webkit-file-upload-button {
    display: none;
}

.example-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 60vw;
    height: 70vh;
}

th {
    font-size: 15px;
    color: black;
    font-weight: bold;
    background-color: gainsboro;
}

tr {
    background-color: gainsboro;
}

