<div class="dialog-container">
    <button class="close" mat-icon-button mat-dialog-close>
        <i class="material-icon">x</i>
    </button>

    <img src="{{ livros.livro.capa }}" alt="Avatar">
    <h3>{{ livros.livro.titulo}}</h3>

    <span><strong>Titulo: </strong> {{livros.livro.titulo}} </span>
    <span><strong>ISBN: </strong> {{livros.livro.isbn}} </span>
    <span><strong>Categoria: </strong> {{livros.livro.categoria}} </span>
    <span><strong>Autor: </strong> {{livros.livro.autor}} </span>
    
</div>
