.example-card {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5px;
}

.icone {
    margin-left: 800px;
    margin-bottom: 30px;
}