table {
  width: 100%;
}

.table-container {
  height: 70vh;
  overflow: auto;
}

.avatar {
  width: 20%;
  border-radius: 20px;
}

.btn-new {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: #517fdc;
}