<!-- <app-card 
banner="https://images.unsplash.com/photo-1579039437500-824bdcbb93fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" 
username="Lucas Monteiro" 
corBtn="blue">
</app-card>
<app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>

<app-card  
titulo="Coxinha de frango" 
userFoto="https://images.unsplash.com/photo-1605453302863-85c32f2adc76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" 
username="Kyoto Narigari">
</app-card>
<app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>

<app-card 
titulo="Poke de salmão" 
userFoto="https://images.unsplash.com/photo-1626204327506-0d3ee11d7752?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
</app-card>
<app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>
Ao clicar no botão, desejo executar o metodo click() do input file-->
<!-- Variaveis de template - Template Variables-->
<!-- <input type="file" #inputFile>
<button id="btn" (click)="inputFile.click()">Selecionar um arquivo</button> -->

<app-credit-card></app-credit-card>