.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-card {
    width: 400px;
  }
  
  mat-card + mat-card {
    margin-left: 32px;
  }

  div {
    display: flex;
    justify-content: start;
    height: 70%;
  }
  
  .desc {
    text-align: justify;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  .error {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .error h1 {
    font-size: 50px;
  }

  .error p{
    font-size: 20px;
  }