<nav id="login-container">
    <div class="login-form">
        <h1>Login</h1>
        <button (click)="signInGoogle()" class="double-width google">
            <img src="assets/icons/google-logo.svg" alt="">
            <p class="texto">Continuar com google</p>
        </button>

        <form [formGroup]="formLogin">
            <input class="color-emailesenha" type="email" placeholder="E-mail" formControlName="email">
            <input class="color-emailesenha" type="password" placeholder="Senha" formControlName="senha">
            <button type="submit" (click)="criarUsuario()" >Inscreva-se</button>
        </form>
        <span><a routerLink="/login">Voltar para Login</a></span>
    </div>
</nav>
