<app-header></app-header>
<div class="container">
      <h1>Editar Empréstimo</h1>
      <form>
            <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Leitor</mat-label>
                  <input type="text" matInput placeholder="Leitor" formControlName="nome">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                  <mat-label>E-mail</mat-label>
                  <input type="text" matInput placeholder="E-mail" formControlName="cpf">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Telefone</mat-label>
                  <input type="text" matInput placeholder="Telefone" formControlName="dataNascimento">
            </mat-form-field>  
      
            <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Status</mat-label>
                  <input type="text" matInput placeholder="Status" formControlName="cargo">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Livro</mat-label>
                  <input type="text" matInput placeholder="Livro" formControlName="setor">
            </mat-form-field>

            <a class="full-width btn-submit" mat-raised-button>Editar</a>
      </form>
</div>

