.emprestimo-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin-top: 20px;

}

.full-width{
      width: 100%;
}

.btn-submit{
      margin-top: 30px;
      background-color: #69B2F4 !important;
      color: white !important;
      
}

