table {
    width: 100%;
  }

  .main-container {
    width: 60%;
    height: 90%;
    margin: auto;
    padding-top: 80px;
  }
  
  .table-container {
    height: 70vh;
    overflow: auto;
    background-color: gainsboro;
  }
  
  .avatar {
    width: 50px;
    border-radius: 50px;
  }
  
  .btn-new {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #517fdc;
  }

  th {
    font-size: 15px;
    color: black;
    font-weight: bold;
    background-color: gainsboro;
}

tr {
    background-color: gainsboro;
}