<main class="container">
  <section class="search">
    <img src="/assets/github.svg" alt="Github">
    <form action="#" id="search-form" [formGroup]="githubForm" (ngSubmit)="procurar()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Ex: frogs123" formControlName="username">
      </mat-form-field>
      <button mat-flat-button color="accent" matTooltip="Procurar Usuário" [disabled]="githubForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <mat-expansion-panel *ngIf="gUser != undefined" class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visualizar dados de 
        </mat-panel-title>
        <mat-panel-description>
          {{gUser?.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img src= "{{ gUser?.avatar_url }}" alt="avatar">
      <p>Nome: {{ gUser?.name }}</p>
      <p>Login: {{ gUser?.login }}</p>
      <p>Followers: {{ gUser?.followers }}</p>
      <p>Following: {{ gUser?.following }}</p>
      <p>Bio: {{ gUser?.bio }} </p>
      <p>HTML url: {{ gUser.html_url }} </p>
      <p>Repositorios publicos: {{ gUser?.public_repos }} </p>
      <hr/>
      <mat-card>
        <mat-card-title>Repositorio</mat-card-title> 
        <mat-card-subtitle>{{gRepo?.name}}</mat-card-subtitle>
        <mat-card-content>
          <p> Visibility: {{gRepo.visibility}} </p>
          <p> Description: {{gRepo?.description}} </p>
          <p> Language: {{gRepo?.language}} </p>
          <p> Fork: {{gRepo?.fork}} </p>
        </mat-card-content>
      </mat-card>
      
    </mat-expansion-panel>
    
  </section>
</main>
